body {
  width: 100%;
  background: black;
  color: white;
}

.flex-parent {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  p {
    line-height: 2em;
    max-width: 66%;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    label {
      width: 30%;
    }
    input{
      width: 60%;
      color: black;
    }
    button {
      margin: auto;
      background-color: black;
      color: black;
    }
  }
}
