body {
  width: 100%;
  background: black;
  color: white;
}

//wraps everything in the body
.flex-parent {
  display: flex;
  flex-direction: column;
}

//first black section with text
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  .paragraph {
    padding-top: 40px;
    p {
      font-size: 1.2em;
      line-height: 2em;
      width: 80%;
      max-width: 900px;
      text-align: center;
      margin: auto;
      margin-bottom: 40px;
    }
  }
}

//white section with form and results
.form-results {
  padding-top: 20px;
  background: rgb(241, 240, 239);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  .forms {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    };
    form {
      display: flex;
    }
    h2 {
      align-self: center;
      background: black;
      border-radius: 100%;
      color: white;
      padding: 50px;
      margin: 0 40px;
    }

  }

#search-form {
  h3 {
    white-space: nowrap;
  }
  .form-group {
    display: inline;
    white-space: nowrap;
  }
}

  select {
    width: 300px;
    margin: 10px 0;
  }
}
